.red_text {
    color: red;
    background-color: yellowgreen;
    text-align: center;
}

.border-blue{
    border: 5px solid rgb(48, 48, 154);
}
/*css는 주석이 또 이렇네 ㅎㅎ*/
.img-size {
    width: 300px;
    height: 200px;
}
/*margin은 요소 바깥에 여백을 주는 것*/
.margin-space {
    margin-top:40px;
    margin-left:100px;
    margin-bottom:40px;
}
/*padding은 요소 안에 여백을 주는 것*/
.padding-space {
    padding-top:50px;
}