header {
    background-color: #eee;
}

#wrap {
    background-color: #ccc;
    overflow: auto;
}

.left,
.right {
    float: left;
}
.left{
    width: 100%;
}

footer {
    background-color: #eee;
    clear:left; /*상위에 있는 float를 인식해서 올라가지 말라고 명령하는 것, left 대신에 both라고 입력해도됨*/
}