body {
  font-family: TmonMonsori, "GodoB", "굴림";
  background-color: #D8D8D8;

}

.header {
  width: 70%;
  margin: auto;
}

.ir {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

img {
  width: 20px;
  height: 30px;
}

.logo {
  display: block;
  margin: 2rem auto;
  width: 20rem;
  height: 10rem;
}

.main-machine {
  width: 40rem;
  margin: auto;
}

.money-section {
  width: 100%;
  height: 3rem;
  margin: auto;
  background-color: white;
  display: flex;
  border-radius: 10px;
}

.money-machine {
  background-color: #D8D8D8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 80%;
  height: 70%;
  border-radius: 10px;
  font-weight: bold;
}

.play-section {
  width: 100%;
  margin: 1rem auto;
  background-color: white;
  border-radius: 10px;
  height: 15rem;
  display: flex;
}

.game-img {
  flex: 2;
  margin: 1rem;
  height:80%;
  width: 80%;
}

.game_control-div{
  flex:1;
  margin: 1rem;
  height:80%;
  width: 80%;
  display: flex;
  flex-direction: column;

}

.game_probability-div{
  background-color: #D8D8D8;
  border-radius: 10px;
  height:100%;
  width: 100%;
  padding:0.2rem;
  font-weight: bold;
  flex:1;
  display:flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.game_button-div{
  flex:2
}

.mouse_type-section {
  width: 100%;
  margin: 1.3rem auto;
  background-color: white;
  border-radius: 10px;
  display: flex;

}

.mouse_type-div,
.curr_mouse_type-div {
  background-color: #D8D8D8;
  border-radius: 10px;
  width: 30rem;
  height: 15rem;
  margin: 1rem;
  flex: 2;
}

.curr_mouse_type-div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.mouse_info {
  background-color: white;
  border-radius: 10px;
  flex: 1;
  margin: 0.5rem auto;
  height: 80%;
  width: 80%;
}